extends layout

block content
    .player
        #player
    .layer
    .container
        .content
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        #info test
                    .swiper-slide test
                    .swiper-slide test