/**
 * Created by Denis Kalinichenko on 2015-02-09.
 */

@import 'lib';

body {
  font-family: $main-font;
  margin: 0;
  background: black;
  color: white;
  position: absolute;
  @include size(100%);
  overflow: hidden;
}

.player {
  position: absolute;
  @include size(100%);
  top: 0;
  left: 0;
  z-index: 1;

  iframe {
    padding: 0;
    margin: 0;
  }
}
.layer {
  position: absolute;
  @include size(100%);
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, $opacity-level) url('../img/tlen.jpg') center no-repeat;
  background-size: cover;
  opacity: $opacity-level;
}
.container {
  position: absolute;
  @include size(100%);
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.content {
  //@include size(100%);
  width: 100%;
  max-width: $max-cont-width;
  //background: red;
  display: inline-block;
}

/* Specify Swiper's Size: */
.swiper-container, .swiper-slide {
  width: 100%;
}